body {
    font-family: 'Raleway', sans-serif;
}

.section-menu {
    display: flex;
    background-color: rgb(34, 32, 32);
}

.left-menu {
    width: 60%;
    margin: 20px;
    margin-left: 120px;

}

.left-menu a {
    text-decoration: none;
    margin-left: 80px;
    color: white;
}

.logo {
    width: 25%;
}

img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    display: block;
}

.right-menu {
    width: 60%;
    margin: 20px;
    margin-right: 120px;
    text-align: right;
}

.right-menu a {
    text-decoration: none;
    margin-right: 80px;
    color: white;
}

.food-lover {
    background-image: url(image/burger.jpeg);
    background-repeat: no-repeat;
    height: 678px;
    background-size: cover;
    width: 100%;
}

.image {
    width: 100%;
}

#food-text {
    text-align: center;
    padding-top: 10px;
    color: white;
}

#food-text hr {
    width: 175px;
}

.food-menu {
    display: flex;
}

.burger {
    width: 30%;
}

.burger a {}

.burger a p {
    margin-left: 75px;
}

#burger {
    width: 200px;
    margin: 15px 15px 15px 15px;
}

.pizza-menu {
    width: 30%;
}

.pizza-menu a {}

.pizza-menu a p {
    margin-left: 75px;
    margin-right: 75px;
}

#pizza {
    width: 220px;
    margin: 15px 15px 15px 15px;
}

.oip-menu {
    width: 30%;
}

.oip-menu a {}

.oip-menu a p {
    margin-left: 75px;
    margin-right: 75px;
}

#oip {
    width: 183px;
    margin: 15px 15px 15px 15px;
}

.sandwice-menu {
    width: 30%;
}

.sandwice-menu a {}

.sandwice-menu a p {
    margin-left: 70px;
}

#sandwice {
    width: 172px;
    margin: 15px 15px 15px;
}